<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis alquileres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let rental of rentals">
      <ion-avatar slot="start">
        <ion-img [src]="rental.image"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ rental.title }}</h2>
        <ion-chip outline color="primary">

          <ion-icon name="battery-charging-outline" *ngIf="rental.type_of_bicycle.name == 'eléctrica'"></ion-icon>
          <ion-icon name="bicycle-outline" *ngIf="rental.type_of_bicycle.name == 'normal'"></ion-icon>
          <ion-icon name="sad-outline" *ngIf="rental.type_of_bicycle.name == 'antigua'"></ion-icon>

          <ion-label><b>€</b> {{ rental.total }} </ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label>{{ rental.type_of_bicycle.name }}</ion-label>
        </ion-chip>
        <ion-chip outline color="danger">
          <ion-label>{{ rental.rentalDate }}</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
