<ion-header>
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Puntos más Cercanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngFor="let location of locations">
    <ion-card >
      <img [src]="location.image" />
      <ion-card-header>
        <ion-card-subtitle> <b>{{ location.address }}</b>  (11 km - 25 min)  </ion-card-subtitle>
        <ion-card-title>{{ location.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
  
        <ion-chip outline color="primary">
          <ion-icon name="battery-charging-outline"></ion-icon>
          <ion-label>Eléctricas <b>(2)</b></ion-label>
        </ion-chip>
        <ion-chip outline color="primary">
          <ion-icon name="bicycle-outline"></ion-icon>
          <ion-label>Normales <b>(6)</b></ion-label>
        </ion-chip>
        <ion-chip outline color="primary">
          <ion-icon name="sad-outline"></ion-icon>
          <ion-label>Antiguas <b>(12)</b></ion-label>
        </ion-chip>
  
      </ion-card-content>
    </ion-card>
    </div>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="pay()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
