<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Catálogo de Bicicletas</ion-title>
  </ion-toolbar>
  
  <ion-list>
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select  okText="Ok" cancelText="Cancel" placeholder="Seleccionar">
        <ion-select-option value="Eléctrica">Eléctrica</ion-select-option>
        <ion-select-option value="Normal">Normal</ion-select-option>
        <ion-select-option value="Antigua">Antigua</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select  okText="Ok" cancelText="Cancel" placeholder="Seleccionar">
        <ion-select-option value="Premium">Premium</ion-select-option>
        <ion-select-option value="Basic">Basic </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgXXKXCGp1SkfDJJZe9OAzuv5zX5XupEhOzg&usqp=CAU"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Bicicleta Todoterreno Bicicleta Mtb</h2>
        <ion-chip outline color="primary">
          <ion-icon name="bicycle-outline"></ion-icon>
          <ion-label><b>(6)</b></ion-label>
        </ion-chip>
        <ion-chip color="success">
          <ion-label>Premium</ion-label>
        </ion-chip>
        <p> (110 km - 4 horas) </p>
        
        <ion-button color="tertiary">Alquilar</ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="https://http2.mlstatic.com/D_NQ_NP_719813-MCO45155513790_032021-O.webp"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Bicicleta Playera Urbana</h2>
        <ion-chip outline color="primary">
          <ion-icon name="sad-outline"></ion-icon>
          <ion-label><b>(8)</b></ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Basic</ion-label>
        </ion-chip>
        <p> (10 km - 1 horas) </p>
        <ion-button color="tertiary">Alquilar</ion-button>
      </ion-label>
    </ion-item>  
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="https://auteco.vteximg.com.br/arquivos/ids/192511-599-599/BicicletaElectrica_Starker_Tflex_negroAzul_2020_foto--4-.jpg?v=637279074316930000"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2> Bicicleta eléctrica tipo plegable</h2>
        <ion-chip outline color="primary">
          <ion-icon name="battery-charging-outline"></ion-icon>
          <ion-label><b>(2)</b></ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>Basic</ion-label>
        </ion-chip>
        <p> (110 km - 4 horas) </p>
        <ion-button color="tertiary">Alquilar</ion-button>
      </ion-label>
    </ion-item>  
  </ion-list>

</ion-content>
