<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Catálogo de Bicicletas</ion-title>
  </ion-toolbar>
  
  <ion-list>
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select  okText="Ok" cancelText="Cancel" placeholder="Seleccionar" [(ngModel)]="type_product" (ionChange)="selectQuery()">
        <ion-select-option value="eléctrica">Eléctrica</ion-select-option>
        <ion-select-option value="normal">Normal</ion-select-option>
        <ion-select-option value="antigua">Antigua</ion-select-option>
        <ion-select-option value="todos">Todos</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select  okText="Ok" cancelText="Cancel" placeholder="Seleccionar" (ionChange)="selectQuery()" [(ngModel)]="category_product">
        <ion-select-option value="premium">Premium</ion-select-option>
        <ion-select-option value="basic">Basic </ion-select-option>
        <ion-select-option value="todos">Todos</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <ion-img [src]="product.image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>

        <ion-chip outline color="primary" *ngIf="product.type_of_bicycle.name == 'eléctrica'">
          <ion-icon name="battery-charging-outline"></ion-icon>
          <ion-label>Eléctrica</ion-label>
        </ion-chip>
        <ion-chip outline color="primary" *ngIf="product.type_of_bicycle.name == 'normal'">
          <ion-icon name="bicycle-outline"></ion-icon>
          <ion-label>Normal</ion-label>
        </ion-chip>
        <ion-chip outline color="primary" *ngIf="product.type_of_bicycle.name == 'antigua'">
          <ion-icon name="sad-outline"></ion-icon>
          <ion-label>Antigua</ion-label>
        </ion-chip>

        <ion-chip color="success" *ngIf="product.type_of_bicycle.category == 'premium'">
          <ion-label>Premium</ion-label>
        </ion-chip>
        <ion-chip *ngIf="product.type_of_bicycle.category == 'basic'">
          <ion-label>Basic</ion-label>
        </ion-chip>
        <p> (110 km - 4 horas) </p>
        
        <ion-button color="tertiary" (click)="pay(product)">Alquilar</ion-button>
      </ion-label>
    </ion-item>
   
  </ion-list>

</ion-content>
